*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #F2F2F2;
}
nav{
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
  font-size: 1em;
}
nav > a {
  padding: 21px;
  color: #242b1e;
  transition: 0.4s;
  width: 200px;
  text-align: center;
}
nav > a:hover{
  background-color: #A5A6A4;
  color: white;
}

.container{
  background-color: #D8D9D7;
  margin: auto;
  max-width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.137);
}

.container-text{
  padding: 5px;
  display: flex;
  color: #595045;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-left: 5%;
}

.container-text > h2{
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}

.image {
  display: flex;
  justify-content: center;
  margin-left: 5%;
}

.image >img {
  max-width: 65%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.295);
}

.box{
  margin: auto;
  width: 70%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

strong {
  font-weight: 600;
  color: #4e704e;
  text-decoration: underline #364e36;
}
.item_1{
  font-size: 16px;
}
.item_2{
  font-size: 17px;
}
.item_3{
  font-size: 18px;
}
.item_4{
  font-size: 19px;
}
.item_5{
  font-size: 20px;
  font-weight: bolder;
}
.item_6{ 
  color: #A3B18A;
  font-style: italic;
  font-size: 18px;
}