body {
  background-color: #DAD7CD;
}
a {
  text-decoration: none;
  color: #4e704e;
}
a:hover{
  color: #344E41;
  background-color: burlywood;
}
h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.personal_info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
strong {
  font-weight: 600;
  color: #4e704e;
  text-decoration: underline #364e36;
}
.item_1{
  font-size: 16px;
}
.item_2{
  font-size: 17px;
}
.item_3{
  font-size: 18px;
}
.item_4{
  font-size: 19px;
}
.item_5{
  font-size: 20px;
  font-weight: bolder;
}
.item_6{ 
  color: #A3B18A;
  font-style: italic;
  font-size: 18px;
}