*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #656D4A;
}
nav{
  background-color: #414833;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}
nav > a {
  padding: 10px;
  color: #C2C5AA;
  transition: 0.4s;
  width: 200px;
  text-align: center;
}
nav > a:hover{
  background-color: #333828;
  
}
a {
  text-decoration: none;
  color: #333D29;
}
a:hover{
  color: white;
}

.box{
  margin: auto;
  width: 75%;
}

.container{
  margin: auto;
  max-width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image{
  max-width: 50px;
  height: 50px;
  padding: 5px;
}

.container-text{
  display: flex;
  color: #dbdfbf;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.container-text > h2{
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.personal_info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
strong {
  font-weight: 600;
  color: #4e704e;
  text-decoration: underline #364e36;
}
.item_1{
  font-size: 16px;
}
.item_2{
  font-size: 17px;
}
.item_3{
  font-size: 18px;
}
.item_4{
  font-size: 19px;
}
.item_5{
  font-size: 20px;
  font-weight: bolder;
}
.item_6{ 
  color: #A3B18A;
  font-style: italic;
  font-size: 18px;
}